<h1>About</h1>

	<p>
		<%= link_to "Mr. Dawson's Class", "http://sites.goole.com/site/mrdawsonsenglishclasses" %> is a place where students create, learn, and succeed.  This is the sample application for the class.

	</p>

	