<h1>Welcome to Mr. Dawson's Class App!</h1>
<p>You've found the home page for
<%= link_to "Mr. Dawson's Class", "http://sites.google.com/site/mrdawsonsenglishclasses"%> application.
</p>

<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>

